* {
    font-family: 'Merriweather', sans-serif;
    line-height: 2;
}

.meeting-summary-div {
    float: left;
    width: 50%;
    padding-right: 10%;
}

tr {
    height: 50px;
}

.table-header {
    width: 35%;
}

.availability-picker-div {
    float: left;
    /*border: 3px double #6d8b74;*/

}

@media screen and (max-width: 600px) {
    .meeting-summary-div {
        width: 100%;
    }
}