

.body{
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;

}

.split-screen{
    margin-left: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 900px;
    height: 500px;
    display:flex;
    flex-direction: column;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left{
    height:200px;
    background: black;
    background-size:cover;
}

.right {

}


@media screen and (min-width: 900px){
    .split-screen{
        flex-direction:row;
        height:70vh;
    }

    .left,
    .right {
        display: flex;
        width: 50%;
        height:auto;
    }
}
